


/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Raleway:900,700,400);

* { 
	margin: 0;
	padding: 0px;
   
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    
	font-weight: 700;
}


p { 
	padding: 0; 
	margin-bottom: 12px; 
  font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 18px; 
	line-height: 40px;
	 color:white;
	margin-top: 10px; 
}

html,
body {
	height: 100%;
}

.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


.nopadding {
	padding: 0px !important;
	margin: 0px;
}

/* Bootstrap Modification */
body, .wrapper > section {
  background-color: #f5f7fa;
}
/* ========================================================================
   Component: top-navbar
 ========================================================================== */
 .nav-tabs > li > a {
  font-weight: bold;
  color: #515253;
  background-color: #edf1f2;
  margin: 0;
  border: 1px solid #dde6e9;
  border-radius: 0;
  padding: 10px 20px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: inherit;
  border-bottom-color: #fff;
}
.navbar-top {
  background-color: #fff;
}
.navbar-top .navbar-header {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, #23b7e5 0%, #30c8ca 100%);
  background-image: -o-linear-gradient(left, #23b7e5 0%, #30c8ca 100%);
  background-image: linear-gradient(to right, #23b7e5 0%, #30c8ca 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff30c8ca', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .navbar-top .navbar-header {
    background-image: none;
  }
}
.navbar-top .navbar-nav > li > a,
.navbar-top .navbar-nav > .open > a {
  color: #23b7e5;
}
.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > .open > a:hover,
.navbar-top .navbar-nav > li > a:focus,
.navbar-top .navbar-nav > .open > a:focus {
  color: #117391;
}
.navbar-top .navbar-nav > .active > a,
.navbar-top .navbar-nav > .open > a,
.navbar-top .navbar-nav > .active > a:hover,
.navbar-top .navbar-nav > .open > a:hover,
.navbar-top .navbar-nav > .active > a:focus,
.navbar-top .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.navbar-top .navbar-nav > li > [data-toggle='navbar-search'] {
  color: #ffffff;
}
.navbar-top .nav-wrapper {
  background-color: #23b7e5;
  background-image: -webkit-linear-gradient(left, #23b7e5 0%, #30c8ca 100%);
  background-image: -o-linear-gradient(left, #23b7e5 0%, #30c8ca 100%);
  background-image: linear-gradient(to right, #23b7e5 0%, #30c8ca 100%);
  background-repeat: repeat-x;
  opacity:;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff30c8ca', GradientType=1);
}
@media only screen and (min-width: 768px) {
  .navbar-top {
    background-color: #23b7e5;
    background-image: -webkit-linear-gradient(left, #23b7e5 0%, #30c8ca 100%);
    background-image: -o-linear-gradient(left, #23b7e5 0%, #30c8ca 100%);
    background-image: linear-gradient(to right, #23b7e5 0%, #30c8ca 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff23b7e5', endColorstr='#ff30c8ca', GradientType=1);
  }
  .navbar-top .navbar-nav > .open > a,
  .navbar-top .navbar-nav > .open > a:hover,
  .navbar-top .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 rgba(255, 255, 255, 0.5) inset;
  }
  .navbar-top .navbar-nav > li > a,
  .navbar-top .navbar-nav > .open > a {
    color: #ffffff;
  }
  .navbar-top .navbar-nav > li > a:hover,
  .navbar-top .navbar-nav > .open > a:hover,
  .navbar-top .navbar-nav > li > a:focus,
  .navbar-top .navbar-nav > .open > a:focus {
    color: #117391;
  }
}
/* ========================================================================
   Component: top-navbar.less
 ========================================================================== */
.navbar-top {
  -webkit-backface-visibility: hidden;
  /* fixes chrome jump */
  margin-bottom: 0;
  border-radius: 0;
}
@media only screen and (min-width: 768px) {
  .navbar-top .navbar-header {
    width: 250px;
    text-align: center;
  }
  .navbar-top .navbar-header .navbar-brand {
    width: 100%;
  }
}
.navbar-top {
  position: relative;
}
.navbar-top .navbar-header {
  position: relative;
  background-color: #1c75bf;
  z-index: 11;
}
.navbar-top .navbar-header .navbar-brand {
  padding: 0;
}
.navbar-top .navbar-header .brand-logo > img,
.navbar-top .navbar-header .brand-logo-collapsed > img {
  margin: 0 auto;
}
.navbar-top .navbar-header .brand-logo {
  display: block;
  padding: 10px 15px;
}
.navbar-top .navbar-header .brand-logo-collapsed {
  display: none;
  padding: 6px 15px;
}
.navbar-top .navbar-nav > li > a,
.navbar-top .navbar-nav > .open > a {
  color: #909090;
}
.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > .open > a:hover,
.navbar-top .navbar-nav > li > a:focus,
.navbar-top .navbar-nav > .open > a:focus {
  color: #2a2a2a;
}
.navbar-top .navbar-nav > .active > a,
.navbar-top .navbar-nav > .open > a,
.navbar-top .navbar-nav > .active > a:hover,
.navbar-top .navbar-nav > .open > a:hover,
.navbar-top .navbar-nav > .active > a:focus,
.navbar-top .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.navbar-top .navbar-nav > li > [data-toggle='navbar-search'] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  font-size: 16px;
  line-height: 55px;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .navbar-top .navbar-nav > li > [data-toggle='navbar-search'] {
    color: #909090;
  }
}
.nav-wrapper {
  padding: 0 15px;
  background-color: #ffffff;
}
.nav-wrapper .nav.navbar-nav {
  float: left;
}
.nav-wrapper .nav.navbar-nav.navbar-right {
  float: right;
}
.nav-wrapper .nav > li {
  position: static;
  float: left;
}
.nav-wrapper .navbar-nav .open .dropdown-menu {
  position: absolute;
  background-color: #ffffff;
  left: 0px;
  right: 0px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.navbar-top .navbar-form {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 55px;
  z-index: 9001;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid #e1e2e3;
}
.navbar-top .navbar-form .form-group {
  height: 100%;
  width: 100%;
}
.navbar-top .navbar-form .form-control {
  height: 100%;
  border: 0;
  border-radius: 0;
  width: 100%;
}
.navbar-top .navbar-form.open {
  top: 0;
}
.navbar-top .navbar-form .has-feedback .form-control-feedback {
  height: 30px;
  cursor: pointer;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
  margin-right: 10px;
  color: #c1c2c3;
  font-size: 1.5em;
  pointer-events: auto;
}
@media only screen and (min-width: 768px) {
  .navbar-top .navbar-form {
    left: 250px;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    background-color: #ffffff;
  }
  .navbar-top .navbar-nav > a {
    box-shadow: 0 0 0 #000 inset;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navbar-top .navbar-nav > .open > a,
  .navbar-top .navbar-nav > .open > a:hover,
  .navbar-top .navbar-nav > .open > a:focus {
    box-shadow: 0 -3px 0 #1c75bf inset;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  .navbar-top .navbar-nav > li > a,
  .navbar-top .navbar-nav > .open > a {
    color: #909090;
  }
  .navbar-top .navbar-nav > li > a:hover,
  .navbar-top .navbar-nav > .open > a:hover,
  .navbar-top .navbar-nav > li > a:focus,
  .navbar-top .navbar-nav > .open > a:focus {
    color: #444444;
  }
  .navbar-top .navbar-nav > li > [data-toggle='navbar-search'] {
    position: static;
  }
  .nav-wrapper {
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    z-index: 10;
  }
  .nav-wrapper:before,
  .nav-wrapper:after {
    content: " ";
    display: table;
  }
  .nav-wrapper:after {
    clear: both;
  }
  .nav-wrapper .navbar-nav .open .dropdown-menu {
    left: auto;
    right: auto;
  }
  .nav-wrapper .navbar-nav.navbar-right .open .dropdown-menu {
    left: auto;
    right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .aside-collapsed .navbar-top .navbar-header .brand-logo {
    display: none;
  }
  .aside-collapsed .navbar-top .navbar-header .brand-logo-collapsed {
    display: block;
  }
  .aside-collapsed .navbar-top .navbar-header {
    width: 70px;
  }
  .aside-collapsed .navbar-top .navbar-form {
    left: 70px;
  }
}
img {
	padding-bottom: 10px;
}

/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 2px;
	line-height: 20px;
	padding: 11px 30px 12px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
}


.btn-register {
	margin-top: 15px;
	border-radius: 50px;
	margin-right: 10px;
	top: 0px;
	float: right;
	font-size: 16px;
}

.btn-sub {
	border-radius: 50px;
}

/* Overall Buttons*/
.btn-theme {
	border-radius: 50px;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-white {
	background: white;
	color: #2f2f2f;
}

.btn-white:hover {
	background: #2f2f2f;
	color: white;
}

/* HEADER SECTION */
#h {
	background: url(../img/header.jpg) no-repeat center top;
	padding-top: 10px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h h1 {
	color: white;
	font-weight: 900;
	font-size: 70px;
	letter-spacing: 5px;
}

#h h3 {
	color: white;
	font-weight: 400;
}

#h img {
	padding-bottom: 0px;
}

/* White Section */
#w {
	background: white;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

#w .col-md-6 {
	padding-right: 0px;
}

#w p {
	color: #9f9f9f;
	font-size: 16px;
}


/* Blue Section - Picton */
#picton {
	background: #59ABE3;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#picton .col-md-6 {
	padding-left: 0px;
}

#picton p {
	color: #e9e9e9;
	font-size: 16px;
}

/* Blue Section - Curious */
#curious {
	background: #3498DB;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#curious .col-md-6 {
	padding-right: 0px;
}

#curious p {
	color: #e9e9e9;
	font-size: 16px;
}

/* Blue Section - Malibu */
#malibu {
	background: #6BB9F0;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#malibu .col-md-6 {
	padding-left: 0px;
}

#malibu p {
	color: #e9e9e9;
	font-size: 16px;
}

/* Blue Section - Jelly */
#jelly {
	background: #2574A9;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#jelly p {
	color: #e9e9e9;
	font-size: 16px;
}

#jelly h1 {
	font-size: 200px;
}

#jelly h3 {
	margin-top: 10px;
}

/* FOOTER */
#f {
	background: #2f2f2f;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#f p {
	color: white;
}

#f h4 {
	font-weight: 400;
	text-align: center;
	font-size: 24px;
}

/* CREDIT */
#c {
	background: black;
	padding: 20px;
}

#c p {
	color: white;
	font-size: 13px;
}